* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
body {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 8rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}
.secondary-heading {
  font-size: 2.5rem;
  color: #ee6787;
  margin-bottom: 2rem;
}
.secondary-heading--white {
  color: white;
}
.text {
  margin: 2rem;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.text--white {
  color: white;
}
i {
  color: #ee6787;
}
.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  text-decoration: none;
  color: inherit;
}
.header__brand-title {
  color: black;
  transition: all 0.6s;
}
.header__brand-author {
  color: #bdbdbd;
  transition: all 0.3s;
}
.header__brand:hover .header__brand-title,
.header__brand:hover .header__brand-author {
  color: pink;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  width: 25px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  transition: all 0.3s;
}
.hamburger__line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hamburger:hover .hamburger__line {
  background-color: pink;
}
.cta {
  padding: 9rem 0;
  background-image: linear-gradient(to right, rgba(90, 98, 132, 0.75), rgba(90, 98, 132, 0.75)), url(../assets/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  text-align: center;
  background-position: top;
}
.cta__box {
  padding: 5rem;
  background-image: linear-gradient(to right, #f06363e7, #f3913cde);
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  opacity: 90%;
}
.cta__heading {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.cta__text {
  margin-bottom: 2rem;
}
.cta__button {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 1.8rem;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s;
}
.cta__button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.features {
  padding: 8rem 5rem;
  text-align: center;
}
.features__boxes {
  display: flex;
  justify-content: center;
  position: relative;
}
.features__boxes.features__boxes::after {
  content: '';
  width: 80%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 5rem;
}
.features__box {
  z-index: 3;
  background-color: white;
}
.features__box:not(:last-child) {
  margin-right: 8%;
}
.features__box-icon {
  font-size: 4rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.middle-hero {
  display: flex;
}
.middle-hero__right,
.middle-hero__left {
  width: 50%;
  padding: 8rem 0;
}
.middle-hero__left {
  padding: 5rem;
  background-image: linear-gradient(to right, #f06363e7, #f3913cde);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.middle-hero__right {
  background-image: linear-gradient(to right, rgba(90, 98, 132, 0.75), rgba(90, 98, 132, 0.75)), url(../assets/iu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
